<launch>

	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node_A">
	    <remap from="turtle1/cmd_vel" to="nodeA_cmdvel"/>
	    <remap from="turtle1/pose" to="nodeA_pose"/>
	</node>


	<node pkg="assignment2_ws" type="square_closedloop.py" name="square_closedloop">
		<remap from="turtle1/cmd_vel" to="nodeA_cmdvel"/>
		<remap from="turtle1/pose" to="nodeA_pose"/>
    </node>
	

	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node_B">
	    <remap from="turtle1/cmd_vel" to="nodeB_cmdvel"/>
	</node>

	<node pkg="assignment2_ws" type="square_openloop.py" name="square_openloop">
		<remap from="turtle1/cmd_vel" to="nodeB_cmdvel"/>
    </node>


    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node_C">
	    <remap from="turtle1/cmd_vel" to="nodeC_cmdvel"/>
	</node>

	<node pkg="assignment2_ws" type="circle.py" name="circle">
		<remap from="turtle1/cmd_vel" to="nodeC_cmdvel"/>
    </node>
</launch>